.btn {
  min-width: 3rem;
  border-radius: 5px;
  background-color: #5dadff;
  color: white;
  border: none;
  padding: 0.5rem;
  font-weight: 600;
}

.btn__disabled {
  pointer-events: none;
  background-color: #c7c7c7;
}

.btn:hover {
  cursor: pointer;
  background-color: #3776b6;
}
