.mart {
  height: 100vh;
  width: 100%;
  background-color: rgb(244, 246, 250);
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
}


@media only screen and (max-width: 600px) {
  .mart {
    flex-flow: column;
    align-items: center;
  }
}